<section class="app">
  <header class="header">
<h1>
  {{title}}
</h1>
<input class="new-search" placeholder="What needs to be searched?" autofocus="" [(ngModel)]="newSearch.item" >
<button (click)="search()">Search</button>
</header>
  <section class="main" *ngIf="searchResults.length > 0">
    <ul class="search-list">
      <li draggable *ngFor="let sc of searchResults" >
        
          {{sc.title}} - {{sc.objectLink}}
          <p>{{sc.description}}</p>
            <hr>
      
      </li>
    </ul>
  </section>
 
  

     <footer class="footer" *ngIf="searchResults.length > 0">
    <span class="todo-count"><strong>{{searchResults.length}}</strong> {{searchResults.length == 1 ? 'item' : 'items'}} </span>
  </footer>  
  <div droppable >
  <p>Drop selected items here</p>
    </div>  
 </section>

